# Vercel's Python builder requires dependencies to be listed in this file.
fastapi
uvicorn
pydantic[email]
python-dotenv
python-multipart
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
psycopg2-binary
